In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('fifa_s2.csv')

In [12]:
print("Информация о DataFrame:")
print(df.info())

Информация о DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Potential                 2399 non-null   int64
 6   Club                      2158 non-null   object
 7   Value                     2142 non-null   float64
 8   Wage                      2399 non-null   int64
 9   Preferred Foot            2399 non-null   object
 10  International Reputation  2389 non-null   float64
 11  Skill Moves               2393 non-null   float64
 12  Position                  2378 non-null   object
 13  Joined                    2399 non-null   int64
 14  Contract Valid Until      2126 non-null   object
 15  Height                    2399 non-null   float64
 16  Weight                    2399 non-null   float64
 17  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 337.5+ KB
None

In [13]:
missing_columns = df.columns[df.isnull().any()].tolist()
print("\nКолонки с пропущенными значениями:")
print(missing_columns)

Колонки с пропущенными значениями:
['Nationality', 'Club', 'Value', 'International Reputation', 'Skill Moves', 'Position', 'Contract Valid Until', 'Release Clause']

In [14]:
missing_percentages = df.isnull().sum() / len(df) * 100
print("\nПроцент пропущенных значений для каждой колонки:")
print(missing_percentages)

Процент пропущенных значений для каждой колонки:
ID                           0.000000
Name                         0.000000
Age                          0.000000
Nationality                  0.291788
Overall                      0.000000
Potential                    0.000000
Club                        10.045852
Value                       10.712797
Wage                         0.000000
Preferred Foot               0.000000
International Reputation     0.416840
Skill Moves                  0.250104
Position                     0.875365
Joined                       0.000000
Contract Valid Until        11.379742
Height                       0.000000
Weight                       0.000000
Release Clause               0.125052
dtype: float64

In [15]:
# Удаление колонок  c пропусками
columns_to_drop = ['Contract Valid Until', 'Club', 'Value']
df = df.drop(columns=columns_to_drop)

In [16]:
# Удаление строк с пропущенными значениями
df = df.dropna()

In [17]:
print("\nИнформация о DataFrame после удаления колонок и строк с пропущенными значениями:")
print(df.info())

Информация о DataFrame после удаления колонок и строк с пропущенными значениями:
<class 'pandas.core.frame.DataFrame'>
Index: 2358 entries, 0 to 2398
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2358 non-null   int64
 1   Name                      2358 non-null   object
 2   Age                       2358 non-null   int64
 3   Nationality               2358 non-null   object
 4   Overall                   2358 non-null   int64
 5   Potential                 2358 non-null   int64
 6   Wage                      2358 non-null   int64
 7   Preferred Foot            2358 non-null   object
 8   International Reputation  2358 non-null   float64
 9   Skill Moves               2358 non-null   float64
 10  Position                  2358 non-null   object
 11  Joined                    2358 non-null   int64
 12  Height                    2358 non-null   float64
 13  Weight                    2358 non-null   float64
 14  Release Clause            2358 non-null   float64
dtypes: float64(5), int64(6), object(4)
memory usage: 294.8+ KB
None

In [18]:
# Приведение всех строковых значений к нижнему регистру
df = df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

<ipython-input-18-d497f14dc73d>:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [19]:
# Удаление дубликатов
df = df.drop_duplicates()

In [20]:
print("Информация о DataFrame после удаления полных дубликатов:")
print(df.info())

Информация о DataFrame после удаления полных дубликатов:
<class 'pandas.core.frame.DataFrame'>
Index: 2354 entries, 0 to 2398
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2354 non-null   int64
 1   Name                      2354 non-null   object
 2   Age                       2354 non-null   int64
 3   Nationality               2354 non-null   object
 4   Overall                   2354 non-null   int64
 5   Potential                 2354 non-null   int64
 6   Wage                      2354 non-null   int64
 7   Preferred Foot            2354 non-null   object
 8   International Reputation  2354 non-null   float64
 9   Skill Moves               2354 non-null   float64
 10  Position                  2354 non-null   object
 11  Joined                    2354 non-null   int64
 12  Height                    2354 non-null   float64
 13  Weight                    2354 non-null   float64
 14  Release Clause            2354 non-null   float64
dtypes: float64(5), int64(6), object(4)
memory usage: 294.2+ KB
None

In [21]:
# Функция для разбиения возраста по группам
def age_group(age):
    if age < 20:
        return 'до 20'
    elif 20 <= age < 30:
        return 'от 20 до 30'
    elif 30 <= age < 36:
        return 'от 30 до 36'
    else:
        return 'старше 36'
df['Age Group'] = df['Age'].apply(age_group)

In [23]:
print("С новой колонкой 'Age Group':")
print(df.head())

С новой колонкой 'Age Group':
      ID           Name  Age  Nationality  Overall  Potential  Wage  \
0   1179      g. buffon   40        italy       88         88    77
2   8205          braga   35     portugal       70         70     5
3   9014      a. robben   34  netherlands       84         84   110
4  19521      j. ibehre   35      england       61         61     2
5  20209  ricardo costa   37     portugal       74         74     4

  Preferred Foot  International Reputation  Skill Moves Position  Joined  \
0          right                       4.0          1.0       gk    2018
2          right                       1.0          3.0      lcm    2017
3           left                       4.0          4.0       rm    2009
4          right                       1.0          2.0       st    2017
5          right                       2.0          2.0      lcb    2017

     Height  Weight  Release Clause    Age Group
0  6.333333   203.0          7400.0    старше 36
2  5.916667   165.0          1600.0  от 30 до 36
3  5.916667   176.0         25600.0  от 30 до 36
4  6.333333   203.0           210.0  от 30 до 36
5  6.000000   181.0          1600.0    старше 36

In [24]:
age_group_counts = df['Age Group'].value_counts()

In [25]:
print("\nКоличество футболистов по возрастным группам:")
print(age_group_counts)

Количество футболистов по возрастным группам:
Age Group
от 20 до 30    1619
от 30 до 36     445
до 20           269
старше 36        21
Name: count, dtype: int64